
*{
	font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
}

.menu{
	background-color:  whitesmoke;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
    height: 40px;
    display: flex;
}

.menu.flex-container{
	justify-content: flex-start;
}

.logo-container{
	margin-left: auto;
	margin-right: 20px;
}

.flex-container .logo-container{
	width: 70px;
	height: 70px;
	justify-content: flex-start;
}



.flex-container{
	display: flex;
}

.text-uppercase{
	text-transform: uppercase;
}

.flex-container.main{
	flex-direction: row;
	justify-content: space-around;
	background-color:#7D7786;
	margin-top: 38px;
}


.get-started{
	flex-direction: column;
	background-color: #605C66;
    border-radius: 11px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.get-started h1{
	text-align: center;
	color: white;
}

.get-started input{
    width: 95%;
    margin-left: 2%;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
}

.get-started button{
    background-color: tomato;
    border-radius: 6px;
    box-shadow: none;
    border-color: transparent;
    height: 40px;
    width: 95%;
    margin-left: 3%;
    margin-top: 14px;
    margin-bottom: 13px;
    font-size: 15px;
    color: white
}

.text,.get-started{
    width: 27%;
    color: white;
}